#       _    _     ___    _    ___  ___  ___
#      /_\  | |   |_ _|  /_\  / __|| __|/ __|
#  _  / _ \ | |__  | |  / _ \ \__ \| _| \__ \
# (_)/_/ \_\|____||___|/_/ \_\|___/|___||___/
#

# fix laptop keyboard
alias lk="setxkbmap us ; xmodmap ~/dotfiles/wkl_modmap ; xmodmap ~/dotfiles/wkl_modmap"
# in case being stuck with caps lock on...
alias LK="setxkbmap us"

# qtile logs
alias qtile_log="tail -f /home/zander/.local/share/qtile/qtile.log"
alias clean_qtile_log="truncate -s 0 /home/zander/.local/share/qtile/qtile.log"
alias qtile_log_full="tail -f -n 999999 /home/zander/.local/share/qtile/qtile.log"

# exit ranger in the current directory
alias ranger="source ranger"

# download youtube videoes
alias ytd="youtube-dl -f bestvideo+bestaudio"

# upgrade all pip packages
alias pip_upgrade_all="pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U"

# tail log files
alias tailf="tail -f -n 999999"

# update neovim
alias nvim_update="cd /home/zander/neovim-config/scripts && bash update.sh"

# read std.in to clipboard
alias to_clipboard="xclip -i -selection c"

# setup laptop screens
alias lts="bash /home/zander/dotfiles/xrandr/only_laptop"
alias xrandr_only_laptop="bash /home/zander/dotfiles/xrandr/only_laptop"
alias xrandr_office_desk="bash /home/zander/dotfiles/xrandr/office_desk.sh"
alias xrandr_nr_desk="bash /home/zander/dotfiles/xrandr/nr_office_desk.sh"


# what is the weather?
alias weather="curl wttr.in"

# what is docker storing?
alias docker_status="echo -e \"\nContainers:\n\" && docker ps -a && echo -e \"\nImages:\n\" && docker image ls && echo -e \"\nVolumes:\n\" && docker volume ls"
# prune docker
alias docker_clean="docker volume prune -f && docker system prune -f"

# play background music from youtube
alias background_music="bash /home/zander/dotfiles/scripts/background_music.sh"

# generate password
function random_password {
    for foo in $(seq 5) ; do
        date +%s | sha256sum | base64 | head -c 50 ; echo ; sleep 1
    done
}

# quick git status
alias gs="git status"

# start emacs in no-gui mode
# alias emacs="emacs -nw"

# gotop params
alias gotop="gotop -p -c vice"

# use ncdu > du
alias ncdu="ncdu --color dark -rr"

# fzf preview files
alias preview="fzf --preview 'bat --color \"always\" {}'"

# use prettyping > ping
alias ping="prettyping --nolegend"

# use bat > cat
alias cat="bat"

# use lsdeluxe
# alias ls="lsd"
# alias l="lsd -al"

# use exa
alias ls="exa --icons"
alias l="exa --icons --git -alh"

# add a newline before neofetch
alias neofetch="echo -e \"\n\" && neofetch"

# cat cheatsheet
alias cs="cat /home/zander/dotfiles/cheatsheet"
alias vimcs="cat /home/zander/neovim-config/cheatsheet"

# update grub after changes to kernel setup
alias update-grub="sudo grub-mkconfig -o /boot/grub/grub.cfg"

# connect to VPN ...
alias start_vpn="nmcli connection up 'PIA - Denmark'"
alias stop_vpn="nmcli connection down 'PIA - Denmark'"

# wifi config stuff
alias wifi_list="nmcli device wifi list"
alias wifi_off="nmcli device disconnect wlp4s0"
alias wifi_on="nmcli device connect wlp4s0"
alias wifi_disconnect="nmcli connection down"
alias wifi_connect="nmcli connection up"
alias wifi="nmcli radio && nmcli device && nmcli d wifi rescan && nmcli d wifi list && echo 'Connect to new wifi: nmcli -ask device wifi connect \"SSID-Name\"'"
