[user]
    email = zander@havgaard.dk
    name = zanderhavgaard

[core]
    pager = less --tabs=4 -RFX
    editor = nvim

[diff]
        tool = difftastic
	external = difft

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pull]
	rebase = false

[color]
    ui = true

# aliases
[alias]
    # list aliases
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
    # Unstage changes from the index
    unstage = reset HEAD --
    # show git log history
    g = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
    # make new branch and check it out
    nb = checkout -b
    # add all files to staging
    a = add -u .
    # commit with a message
    cm = commit -m
    # checout branch
    c = checkout
    # list branches
    b = branch -av
    # remove branch
    rmb = branch --delete --force
    # status
    s = status
    # push
    p = push
    # force push
    fp = push --force-with-lease
    # clean interactively
    ci = clean -i
    # small log output
    l = !git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all -n 10
    # get sha of last commit on current branch
    sha = rev-parse HEAD
