@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */


/*
 * Hide the scrollbar
 */
/* #content browser, .browserStack>browser { */
	/* margin-right:-17px!important; */
	/* margin-bottom:-17px!important; */
	/* overflow-y:scroll; */
	/* overflow-x:hidden; */
/* } */

/*
* remove tab scrolls left/right arrows
*/
tabbrowser toolbarbutton[class^="scrollbutton"],
#TabsToolbar toolbarbutton[class^="scrollbutton"]
{
    display: none !important;
}


/*
* REMOVE LIST ALL TABS BUTTON
*/
#alltabs-button {
  display:none;
}


/* style the browser */

.browserContainer {
    background-color: #282C35 !important;
}
