[Unit]
Description=Timer for awww-cycle-wallpaper
PartOf=graphical-session.target
After=graphical-session.target

[Timer]
OnActiveSec=1
OnUnitActiveSec=30min

[Install]
WantedBy=graphical-session.target
